{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="icon" href="{% static 'img/galeria.jpg' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <!--Inicio del Menu-->
    <header>
        <nav class="navbar navbar-expand-md navbar-light bg-succes">
            <div class="container-fluid" style="margin-left: -10px">
                <!--logoasdasdasd-->
                <a class="navbar-brand" href="#">
                    <img src="{% static 'img/solda.jpg' %}" width="80px" height="80px">
                    <span class="text-warning">Soldaduras Especiales</span>
                </a>
                <!--boton del menu-->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"  
                    data-bs-target="#menu" aria-controls="navbarSupportedContent"  
                    aria-expanded="false" 
                    aria-label="Toggle navigation" style="margin-right: -20px; margin-left: -30px;">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!--elementos del menu colapsable-->
                <div class="collapse navbar-collapse" id="menu" style="font-size: 1rem;">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'index' %}">Quienes Somos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'materiales' %}">Materiales</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'galeria' %}">Galeria</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'tienda_productos' %}">Tienda</a>
                        </li>
                        {% if perms.app.add_producto %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'agregar_producto' %}">Agregar Productos</a>
                            </li>
                        {% endif %}
                        {% if perms.app.view_producto %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'listar_productos' %}">Listado Productos</a>
                            </li>
                        {% endif %}
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'listar_ventas' %}">Detalle Boletas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'ver_carrito' %}">Carrito</a>
                            </li>
                            <li>
                                <form method="post" action="{% url 'logout' %}">
                                    {% csrf_token %}
                                    <button type="submit" class="nav-link btn btn-link" style="padding: 0; border: none;">Cerrar Sesion</button>
                                </form>
                            </li>
                            <li>
                                <a href="{% url 'editar_perfil' %}">@{{ user.username }}</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'login' %}">Iniciar Sesion</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'registro' %}">Registrarse</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!--carrusel-->
    <section id="carrusel">
        <div id="demo" class="carousel slide" data-bs-ride="carousel">
            <!-- Indicadores -->
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
              <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
              <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
            </div>
            <!-- The slideshow/carousel -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="{% static 'img/carrusel1.jpg' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'img/carrusel2.jpg' %}" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static 'img/carrusel3.jpg' %}" class="d-block w-100">
              </div>
            </div>
            <!-- Left and right controls/icons -->
            <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
              <span class="carousel-control-next-icon"></span>
            </button>
          </div>
          <br>
    </section>
    <!--Quienes somos-->
    <section id="quienes-somos">
        <div class="container">
            <div class="text-warning">
                <h1>Somos Soldaduras Especiales</h1>
            </div>
            <p>En Soldaduras Especiales, nos dedicamos apasionadamente a la excelencia en la fabricación y reparación de piezas utilizando materiales especiales. Con una combinación única de habilidades técnicas y un profundo conocimiento de los materiales, nuestro equipo está comprometido a brindar soluciones de soldadura de alta calidad que superen las expectativas de nuestros clientes.</p>
        </div>
    </section>
    <!--Portada-->
    <section class="portada">
        <div class="container text-center">
            <div class="row">
                <!--Herramientas-->
                <div class="columna col-lg col-md">
                    <img src="{% static 'img/herramientas.jpg' %}" alt="herramientas">
                    <p class="portada-titulo">Herramientas: La base de todo</p>
                    <p class="descripcion">El éxito de cualquier proyecto comienza con el uso adecuado de las herramientas adecuadas. En Soldaduras Especiales Maipú, contamos con equipos de última generación y tecnología avanzada para garantizar la precisión y la eficiencia en cada etapa del proceso. Desde la soldadura de precisión hasta la extracción de pernos cortados, nuestras herramientas están diseñadas para enfrentar incluso los desafíos más difíciles con facilidad y confianza.</p>
                </div>
            </div>
            <div class="row">
                <!--Calidad-->
                <div class="columna col-lg col-md">
                    <img src="{% static 'img/calidad.jpg' %}" alt="calidad">
                    <p class="portada-titulo">Compromiso con la Calidad</p>
                    <p class="descripcion">Para nosotros, la calidad no es solo una palabra, es un compromiso arraigado en cada aspecto de nuestro trabajo. Nos esforzamos por superar las expectativas de nuestros clientes en términos de durabilidad, resistencia y precisión. Cada soldadura realizada en Soldaduras Especiales Maipú es un testimonio de nuestro compromiso con la excelencia y la integridad.</p>
                </div>
            </div>
            <div class="row">
                <!--Resultado-->
                <div class="columna col-lg col-md">
                    <img src="{% static 'img/resultados.jpg' %}" alt="resultado">
                    <p class="portada-titulo">Resultados que hablan por si mismos</p>
                    <p class="descripcion">En un mundo donde la calidad es escasa y la mediocridad es común, nos destacamos por nuestra atención al detalle y nuestro enfoque implacable en la calidad del trabajo. Cada proyecto completado en Soldaduras Especiales Maipú es una prueba de nuestra dedicación a ofrecer resultados sobresalientes que no solo cumplan, sino que superen las expectativas de nuestros clientes.</p>
                </div>
            </div>
        </div>
    </section>
    <!--Pie de la pagina-->
    <footer class="oscuro d-flex flex-column align-items-center justify-content-center">
        <img src="{% static 'img/footer-logo.jpg' %}" class="footer-logo" alt="logo de footer">
        <p class="oscuro footer-texto text-center">Contactanos en las siguientes <br>redes sociales.</p>
        <div class="iconos-redes-sociales d-flex flex-wrap align-items-center justify-content-center">
            <a href="https://www.facebook.com/soldadurasespecialesmaipu" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-facebook"></i>
            </a>
            <a href="https://www.instagram.com/soldadurasespeciales_maipu/" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-instagram"></i>
            </a>
            <a href="mailto:Camilourra.1992@gmail.com" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-envelope"></i>
            </a>
        </div>
        <div class="derechos">Soldaduras Especiales 2024 &#169;</div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>