{% extends 'myapp/base.html' %}

{% block js %}
<script>
    function eliminarProducto(id) {
        Swal.fire({
            "title": "¿Estás Seguro?",
            "text": "¡Esta acción no se puede deshacer!",
            "icon": "question",
            "showCancelButton": true,
            "cancelButtonText": "No, Cancelar",
            "confirmButtonText": "Sí, Confirmar",
            "confirmButtonColor": "#dc3545"
        })
        .then(function(result){
            if(result.isConfirmed) {
                window.location.href = "/eliminar_producto/" + id + "/";
            }
        })
    }
</script>
{% endblock %}

{% block content %}
{% load humanize %}
<div class="container my-4">
    <div class="card shadow-sm">
        <div class="card-body">
            <h2 class="text-center">Listado de Productos</h2>
            <hr>
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Precio</th>
                            <th>Marca</th>
                            <th>Stock</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in entity %}
                        <tr>
                            <td>{{ p.codigo }}</td>
                            <td>{{ p.nombre | title }}</td>
                            <td>${{ p.precio | floatformat:2 | intcomma }}</td>
                            <td>{{ p.marca | title }}</td>
                            <td>{{ p.stock }}</td>
                            <td>
                                {% if perms.app.change_producto %}
                                    <a href="{% url 'modificar_productos' p.id %}" class="btn btn-info btn-sm">Modificar</a>
                                {% endif %}
                                {% if perms.app.delete_producto %}
                                    <a href="#" onclick="eliminarProducto({{ p.id }})" class="btn btn-danger btn-sm">Eliminar</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <hr>
            <div>
                {% include 'myapp/paginator.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
